.search{
    display: inline-block;
    position: absolute;
    margin-top: 5px;
    margin-left: 40%;
    height: 5%;
    width: 30%;
    z-index: 9999;
    transition: 0.8s all;
}

.searchc{
    margin-left: 48%;
    transition: 0.8s all;
    z-index: 9999;
}

.searchbox{
    background: rgba(253, 250, 250, 0.3);
}

.map {
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10;
    transition: 0.8s all;
}

.mapc {
    display: inline-block;
    margin-left: 8%;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 0.8s all;
    z-index: 10;
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: sans-serif;
}

.sidebar {
    float: right;
    width: 100px;
    margin-left: -100px;
    height: 100%;
    background-color: #2c3e50;
    overflow: hidden;
    position: absolute;
    z-index: 9999;
    transition: 0.8s all;

}

.side {
    margin-left: 0;
    position: absolute;
    z-index: 9999;
}

/* 靠边  */
.sidebar ul {
    margin: 0;
    padding: 0;
}

/* 去点 */
.sidebar ul li {
    list-style: none;
}

/*去下划线*/
.sidebar ul li a {
    text-decoration: none;
    color: white;
    height: 80px;
    width: 100%;
    font-size: 20px;
    line-height: 80px;
    text-align: center;
    display: block;
    transition: 0.6s all;
}

.sidebar ul li a:hover {
    background: #95a5a6;
}

.btn {
    float: right;
    margin-top:400px;
    position: absolute;
    padding: 0 10px;
    font-size: 20px;
    text-decoration: none;
    color: white;
    background-color: #2c3e50;
    background:rgba(0, 0, 0, 0.3);
    font-family: Ionicons;
    z-index: 9999;
    cursor: pointer;
    transition: 0.8s all;
}
.btn:hover{
    background-color: orange;
}

.btnc {
    margin-left: 8%;
    transition: 0.8s all;
}

.btn:before {
    content: '》';
}

.btnc:before {
    content: '《';
}

#correctc{
    background-color:red;
}

#deletec{
    background-color: red;
}

#addc{
    background-color: red;
}

/*工具栏  */
.Controlbtn {
    margin-top: 2px;
    margin-left: 90%;
    position: absolute;
    padding: 0 10px;
    font-size: 20px;
    text-decoration: none;
    color: white;
    background-color: #2c3e50;
    background:rgba(0, 0, 0, 0.7);
    font-family: Ionicons;
    z-index: 9999;
    cursor: pointer;
    text-decoration: none;
}
.Controlbtn:hover{
    background-color: orange;
    transition: 0.8s all;
}

.Controlbtnc {
    margin-top: 2px;
    margin-left: 90%;
    position: absolute;
    padding: 0 10px;
    font-size: 20px;
    text-decoration: none;
    color: white;
    background-color: #2c3e50;
    background:rgba(0, 0, 0, 0.7);
    font-family: Ionicons;
    z-index: 9999;
    cursor: pointer;
    text-decoration: none;
}
.Controlbtnc:hover{
    background-color: orange;
    transition: 0.8s all;
}

.layerControl {
    float: right;
    width: 230px;
    height: 15%;
    z-index: 9999;
    margin-top: 3%;
    position: absolute;
    bottom: 5px;
    right: 0px;
    top: 2%;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.7);
    border-width: 10px;
    border-radius: 10px;
    border-color: #000 #000 #000 #000;
    overflow: hidden;
    transition: 0.8s all;
}


.layerControl .layerTree a {
    color: white;
    text-decoration: none;
}

.layerControl .layerTree a:hover {
    background-color: orange;
}

 /*=S 自定义鹰眼样式 */
 .ol-custom-overviewmap,.ol-custom-overviewmap.ol-uncollapsible {
    bottom: auto;
    left: 3%;
    right: auto; /* 右侧显示 */
    top: 0%;  /* 顶部显示 */
}
/* 鹰眼控件展开时控件外框的样式 */
.ol-custom-overviewmap:not(.ol-collapsed)  {
    border: 1px solid black;
}
 /* 鹰眼控件中地图容器样式 */
.ol-custom-overviewmap .ol-overviewmap-map {
    border: none;
    width: 200px;
}
/* 鹰眼控件中显示当前窗口中主图区域的边框 */
.ol-custom-overviewmap .ol-overviewmap-box {
    border: 2px solid red;
}
/* 鹰眼控件展开时其控件按钮图标的样式 */
.ol-custom-overviewmap:not(.ol-collapsed) button{
    bottom: auto;
    left: auto;
    right: 1px;
    top: 1px;
}
/*=E 自定义鹰眼样式 */

/* 缩放滑块控件ZoomSlider的样式，放置到缩放按钮之间实现导航条功能*/
#map .ol-zoom .ol-zoom-out {
    margin-top: 204px;
}

#map .ol-zoomslider {
    background-color: transparent;
    top: 2.3em;
}

#map .ol-touch .ol-zoom .ol-zoom-out {
    margin-top: 212px;
}

#map .ol-touch .ol-zoomslider {
    top: 2.75em;
}

#map .ol-zoom-in .ol.has-tooltip:hover[role=tooltip],
#map .ol-zoom-in .ol-has-tooltip:focus[role=tooltip] {
    top: 3px;
}

#map .ol-zoom-out .ol-has-tooltip:hover[role=tooltip],
#map .ol-zoon-out .ol-has-out-tooltip:focus[role=tooltip] {
    top: 232px;
}

#map .ol-zoom-extent {
    top: 280px;
}
 /* 鼠标位置控件层样式设置 */
 .mouse-position {
    float: right;
    position: absolute;
    margin-left: 10%;
    bottom: 5px;
    width: 200px;
    height: 20px;
    z-index: 9999;
    transition: 0.8s all;
    /*在地图容器中的层，要设置z-index的值让其显示在地图上层*/
}
.mouse-positionc {
    float: right;
    position: absolute;
    margin-left: 18%;
    bottom: 5px;
    width: 200px;
    height: 20px;
    z-index: 9999;
    /*在地图容器中的层，要设置z-index的值让其显示在地图上层*/
}

/* 鼠标位置信息自定义样式设置 */
.custom-mouse-position {
    color: Red;
    font-size: 16px;
    font-family: "微软雅黑";
}

/* 弹出框设置 */
.ol-popup {
  position: absolute;
  width: 25rem;
  height: auto;
  background-color: white;
  -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
  filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #cccccc;
  bottom: 12px;
  left: -50px;
}
.ol-popup:after, .ol-popup:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.ol-popup:after {
  border-top-color: white;
  border-width: 10px;
  left: 48px;
  margin-left: -10px;
}
.ol-popup:before {
  border-top-color: #cccccc;
  border-width: 11px;
  left: 48px;
  margin-left: -11px;
}
.ol-popup-closer {
  text-decoration: none;
  position: absolute;
  top: 2px;
  right: 8px;
}
.ol-popup-closer:after {
  content: "✖";
}
#popup-content{
	font-size:14px;
	font-family:"微软雅黑";
}
#popup-content .markerInfo {
	font-weight:bold; 
}

/* 弹窗设置 */
.zhezhao{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 9999;
}
.tankuang{
    position: relative;
    background:rgba(253, 250, 250, 0.7);
    width: 37%;
    height: 85%;
    border-radius: 5px;
    margin: 5% auto;
    font-size: 15px;
    font-weight: 700;
    z-index: 9999;
}
#header{
    height: 40px;
}
#header-right{
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 5px;
    background: red;
    color: #fff;
    right: 5px;
    top: 5px;
    text-align: center;
}

#submit{
    position: absolute;
    width: 70px;
    height: 35px;
    margin-left: 20%;
}
#cancel{
    position: absolute;
    width: 70px;
    height: 35px;
    margin-left: 50%;
}

/* 修改弹窗设置 */
.Czhezhao{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 9999;
}
.Ctankuang{
    position: relative;
    background:rgba(253, 250, 250, 0.7);
    width: 37%;
    height: 85%;
    border-radius: 5px;
    margin: 5% auto;
    font-size: 15px;
    font-weight: 700;
    z-index: 9999;
}
#Cheader{
    height: 40px;
}
#Cheader-right{
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 5px;
    background: red;
    color: #fff;
    right: 5px;
    top: 5px;
    text-align: center;
}

#Csubmit{
    position: absolute;
    width: 70px;
    height: 35px;
    margin-left: 20%;
}
#Ccancel{
    position: absolute;
    width: 70px;
    height: 35px;
    margin-left: 50%;
}


/* 简介弹框 */
.Izhezhao{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 9999;
}
.Itankuang{
    position: relative;
    background:rgba(253, 250, 250, 0.7);
    width: 37%;
    height: 80%;
    border-radius: 5px;
    margin: 5% auto;
    font-size: 15px;
    font-weight: 700;
    z-index: 9999;
}
#Iheader{
    height: 40px;
}
#Iheader-right{
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 5px;
    background: red;
    color: #fff;
    right: 2px;
    top: 5px;
    text-align: center;
}

#contents{
    text-indent: 2em;
    left: 2em;
}
